:root {
  /* background colors */
  --clr-bg-body: #36384d;
  --clr-bg-card: #ffffff;
  --clr-bg-check: #f86759;
  --clr-bg-primary: #232742;

  /* text colors */
  --clr-text-primary: #252841;

  /* button gradient */
  --btn-gradient-bg: rgb(255, 83, 121);
  --btn-linear-gradient: linear-gradient(90deg, rgba(255, 83, 121, 1) 0%, rgba(255, 105, 62, 1) 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-bg-body);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  color: var(--clr-text-primary);
  background-color: var(--clr-bg-card);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  display: flex;
  border-radius: 1.5rem;
  padding: 1.5rem;
}

.illustration.mobile {
  display: none;
}
